@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
nav {
  width: 100%;
  height: 80px;
  margin-bottom: 100px;
  background: #c1c8e4 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1607843137);
  z-index: 100;
  position: sticky;
  top: 0px;
}
nav div {
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
}
nav div div {
  height: 100%;
}
nav div div img {
  height: 90px;
  top: -50%;
}
nav div div:nth-child(1) {
  width: 40%;
}
nav div div:nth-child(2) {
  width: 60%;
}
nav ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: flex;
  flex-flow: row nowrap;
}
nav ul li a {
  outline: none;
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-weight: 600;
  font-size: 2rem;
}
nav ul li a.logout {
  color: #a41e1e;
}
nav ul li a.logout img {
  height: 100%;
}
nav ul li::after {
  content: " ";
  position: absolute;
  background-color: #a997c9;
  border-radius: 5px;
  height: 5px;
  width: 0%;
  top: calc(100% + 5px);
  transition: width 0.6s ease;
}
nav ul li:hover::after {
  width: 100%;
}
nav .selectedMenu::after {
  content: " ";
  position: absolute;
  background-color: #8860d0;
  border-radius: 5px;
  animation: underline 0.6s ease forwards;
  height: 5px;
  top: calc(100% + 5px);
}
nav input[type=checkbox] {
  display: none;
}
@media (max-width: 599px) {
  nav {
    margin-bottom: 20px;
  }
  nav div:nth-child(2) {
    justify-content: right;
  }
  nav ul {
    display: none;
  }
  nav label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    cursor: pointer;
  }
  nav label span {
    background: #fff;
    border-radius: 10px;
    height: 5px;
    margin: 5px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  nav span:nth-of-type(1) {
    width: 50%;
  }
  nav span:nth-of-type(2) {
    width: 100%;
  }
  nav span:nth-of-type(3) {
    width: 75%;
  }
  nav input[type=checkbox]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
  }
  nav input[type=checkbox]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  nav input[type=checkbox]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(23px, -7px) rotatez(45deg);
  }
}

#burger {
  display: none;
  position: absolute;
  width: 100% !important;
  z-index: 3;
}
@media (max-width: 599px) {
  #burger {
    display: flex;
    flex-flow: column nowrap;
  }
}
#burger div {
  height: min-content;
  padding: 10px;
  width: 100% !important;
  background-color: rgba(193, 200, 228, 0.95);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#burger div p {
  color: rgb(59, 59, 59);
  font-weight: 600;
  font-size: 1.4rem;
}
#burger div p.logout {
  color: #a41e1e;
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Comfortaa", cursive;
  background-image: linear-gradient(142deg, #5ab9ea 0%, #5680e9 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
@media (max-width: 599px) {
  body {
    background-attachment: fixed;
  }
}

#mainPage {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.useful-width {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (max-width: 599px) {
  .useful-width {
    margin: 0px 10px;
  }
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  line-height: normal;
  letter-spacing: normal;
}
@media (max-width: 599px) {
  h1 {
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: normal;
  }
}

.invalide {
  border: 3px solid red !important;
}

.disclaimer {
  position: absolute;
  text-align: left;
}
.disclaimer h1 {
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 599px) {
  .disclaimer h1 {
    margin-bottom: 40px;
  }
}
.disclaimer p {
  color: rgb(59, 59, 59);
  font-weight: normal;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}
@media (max-width: 599px) {
  .disclaimer p {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
  }
}
@media (max-width: 599px) {
  .disclaimer p {
    margin-bottom: 15px;
  }
}

.thirdAction {
  outline: none;
  color: #fff;
}

.top-card {
  border: 1px solid black;
  padding: 50px 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(202, 240, 248, 0.072);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px 100px 20px;
  z-index: 2;
}
.top-card h2 {
  color: #fff;
  font-weight: normal;
  font-size: 4rem;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .top-card h2 {
    font-size: 2rem;
    line-height: normal;
    letter-spacing: normal;
  }
}
@media (max-width: 599px) {
  .top-card {
    height: max-content;
    margin-bottom: 20px;
    padding: 25px 30px;
  }
}

.next-section {
  margin-top: 150px;
}
@media (max-width: 599px) {
  .next-section {
    margin-top: 80px;
  }
}

.separator {
  width: 100%;
  position: absolute;
  top: 120rem;
  height: min-content;
}

.part {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 599px) {
  .part {
    flex-flow: column-reverse nowrap !important;
    margin-bottom: 50px;
  }
}
.part p {
  text-align: justify;
  color: #fff;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  width: calc(80% - 80px);
}
@media (max-width: 599px) {
  .part p {
    font-size: 0.9rem;
    line-height: normal;
    letter-spacing: normal;
  }
}
@media (max-width: 599px) {
  .part p {
    width: 100%;
    margin-top: 10px;
  }
}
.part img {
  width: 20%;
}
@media (max-width: 599px) {
  .part img {
    width: 30%;
    margin: 0px auto;
  }
}

.reverse {
  flex-flow: row-reverse nowrap;
}
@media (max-width: 599px) {
  .reverse {
    flex-flow: column-reverse nowrap;
  }
}

.card {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(202, 240, 248, 0.072);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  place-items: center center;
}

#chart {
  width: 100%;
}

@-webkit-keyframes jump {
  from {
    top: -115px;
  }
  to {
    top: -105px;
  }
}
@keyframes jump {
  from {
    top: -115px;
  }
  to {
    top: -105px;
  }
}
.chartTitle {
  width: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 20px;
}
@media (max-width: 599px) {
  .chartTitle {
    font-size: 0.8rem;
    line-height: normal;
    letter-spacing: normal;
  }
}
@media (max-width: 599px) {
  .chartTitle {
    margin: 5px;
  }
}

p.uppercase {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: normal;
}
@media (max-width: 599px) {
  p.uppercase {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
  }
}

#chart tr {
  height: 60px;
}
@media (max-width: 599px) {
  #chart tr {
    height: 30px;
  }
}
#chart tr td:nth-child(1) {
  width: 80%;
}
#chart tr td:nth-child(1) div {
  width: 0%;
  transition: width 2s ease 0s;
  height: 40px;
  background: rgb(255, 72, 0);
  padding-right: 15px;
  border-radius: 50px;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
}
#chart tr td:nth-child(1) div h3 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  transition: transform 0.5s;
  transform: translateX(180%);
}
@media (max-width: 599px) {
  #chart tr td:nth-child(1) div h3 {
    font-size: 0.9rem;
    line-height: normal;
    letter-spacing: normal;
  }
}
@media (max-width: 599px) {
  #chart tr td:nth-child(1) div {
    height: 25px;
  }
}
#chart tr td:nth-child(2) {
  width: 20%;
  padding-left: 40px;
}
#chart tr td:nth-child(2) h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: normal;
  letter-spacing: 0.0833333333 rem;
  display: inline;
}
@media (max-width: 599px) {
  #chart tr td:nth-child(2) h3 {
    font-size: 1.2rem;
    line-height: normal;
    letter-spacing: 0.0833333333 rem;
  }
}

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/*# sourceMappingURL=style.css.map */
